.mytable {

}
.landing {
  text-align: center;
  background-image : url("/home/buntu/IP2-master/assets/backgrounds/landing.jpg");
  background-size: cover;
  padding :175px;
}
.line1{
  color: white;
  font-size: 32px;
}
.white {
  background-color: white;
  padding: 20px;
}
.orange {
  background-color: #F15A29;
  padding: 20px;
}
.bback {
  background-image: url("/home/buntu/IP2-master/assets/foodtop/breakfast.jpg");
  background-size: cover;
  color: white;
  padding: 80px



}
.lback {
  background-image: url("/home/buntu/IP2-master/assets/foodtop/lunch.jpg");
  background-size: cover;
  color: white;
  padding: 80px;

}
.dback {
  background-image: url("/home/buntu/IP2-master/assets/foodtop/dinner.jpg");
  background-size: cover;
  color:white;
  padding: 80px;
}
.text1{
  text-align: center;
  margin: 30px black;
  border: 30px ;
  padding: 30px;

}
.picture1{
  text-align: left;
  font-size: 15px;
}
.gallery{
color: #F15A29;
padding: 2px;
border: 5px #F15A29;
margin: 10px #F15A29;
}
